<!DOCTYPE HTML>
<html>
<head>
    <title>Авторизация</title>
    <meta content = "charset=UTF-8"/>
</head>
<body>
<div>
    <h1>Конвертер валют</h1>
<!--    <form method="get" autocomplete="off">-->
        <p><input name = "login"
                      id = "login"
                      autofocus
                      required
                      placeholder = "Логин" />
</p>
        <p><input name = "password"
                  type = "password"
                  placeholder = "Пароль"
                  required
                  id = "password" />
        </p>
        <p>
        <form action="converter" method="get">
            <input type = "submit"
                   value = "Войти"/>
        </form>
        </p>
<!--    </form>-->
</div>
</body>
</html>